@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

body {
    background-image: none;
}

.container1 {
    border: 3px solid transparent;
    height: 100vh;
    width: 610px;

    position: absolute;
    left: 0;
    top: 0;
    margin-left: 0%;

    vertical-align: middle;

    
}

.container2 {
    width: 350px;
    display: flex;
}

img {
    width: 1095px;
    height: 100vh;

    position: absolute;
    right: 0;
    top: 0;

    margin-right: 0px;

} 


h1 {
    font-family: "JetBrains Mono", serif;
    margin-top: 100px;
    margin-left: 160px;
    font-size: 32px;
    text-align: left;
}

h3 {
    font-family: "Inter", serif;
    font-size: 24px;
    margin-top: 35px;
    margin-left: 160px;
    text-align: left;
}

.btnt {
    width: 228px;
    height: 78px;

    font-family: "JetBrains Mono";
    border: 3px solid black;
    border-radius: 10px;

    box-shadow: 0 10px #00D0E5;
    cursor: pointer;

    display: block;
    margin-left: 250px;
    margin-top: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.btnt:hover {
    width: 228px;
    height: 78px;;

    box-shadow: 0px 0px 50px 2.5px #00D0E5;
    transition:all .3s;
}

.btnt:active {
    width: 228px;
    height: 78px;

   

    box-shadow: none;
    transition: all .3s;
}



a {
    color: black;
    text-decoration: none;
    user-select: none;
}

a:hover {
    color: black;
}

.test {
    display: block;
    margin: auto;
}

nav {
    height: 70px;
    width: 100%;
    background-color: #7F6BA9;
    z-index: 50;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
}

.burgerbtn {
   width: 30px;
   height: 30px;
   margin-left: 10px;
   position: relative;
   background-color: #7F6BA9;
   cursor: pointer;
}

.burgerbtn:before {
    content: '';
    position: absolute;
    bottom: 1px;
    width: 30px;
    background-color: white;
    height: 2px;
}

.burgerbtn span {
    content: '';
    position: absolute;
    top: 10px;
    
    width: 30px;
    background-color: white;
    height: 2px;
}

.burgerbtn:after {
    content: '';
    position: absolute;
    bottom: 10px;
    width: 30px;
    background-color: white;
    height: 2px;
}