@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    background-color: white;

    color: black;
    background-repeat: no-repeat;
}

.container {
    width: 100vw;
    height: 100vh;
    display: block;
    
    margin: auto;
    justify-content: center;
    align-items: center;
    background-image: url('/src/img/backgroundstart.png');
}

.foundation {
    position: absolute;
    
}

.txt1 {
    position: absolute;
    font-family: "JetBrains Mono", serif;
    margin-bottom: 100px;

    display: grid;
    margin: auto;
    margin-left: 800px;
    margin-top: 430px;
}

.link-on {
    
    margin-top: 530px;
    text-decoration: none;
    color: black;
    width: 300px;
    display: flex;

    margin-left: 750px;
}

.txt-of-link {
    font-family: "JetBrains Mono", serif;
    font-weight: 300;

    color: black;

display: block;
margin: auto;
}

nav {
    height: 70px;
    width: 100%;
    background-color: #7F6BA9;
    z-index: 50;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
}

.main {
    margin-left: 35px;
    background-color: #7F6BA9;
    color: white;
    font-size: 18px;
}