* {
    scrollbar-width: none;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: 150%;
        
    scroll-behavior: smooth;

    background-color: #333;

    font-family: 'Courier New', Courier, monospace;

}

::selection {
    background: #333;
    color: #fff;
    text-shadow: none;
}

.navigation {
    width: 100%;
    height: 75px;

    z-index: 2;

    background-color: deeppink;

    position: sticky;
    top: 0;
    display: flex;
    margin: auto;

    align-items: center;
    justify-content: center;


    box-shadow: 0px 10px 25px rgb(0, 0, 0, 0.1);
}

.nav-button {
    width: 150px;
    height: 50px;

    background-color: none;
    border: 5px solid deeppink;

    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

}

.main-button {
    width: 150px;
    height: 50px;

    border: 5px solid white;

    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 890px;
    
    text-decoration: none;
}

.nav-button:hover {
    border: 5px solid white;
    transition: .5s all;
}

a {
    color: white;
    text-decoration: none;
    user-select: none;
}

.logo {
    width: 50px;
    height: 50px;

    display: flex;
    margin-left: 0px;
}

.reg {
    width: 1400px;
    height: 700px;

    border: 5px solid white;
    border-radius: 15px;

    display: block;
    margin: auto;
    margin-top: 5%;
}

.log {
    width: 1200px;
    height: 45px;

    background-color: white;
    color: #333;

    display: block;
    margin: auto;

    margin-top: 2%;
}

.password {
    width: 1200px;
    height: 45px;

    background-color: white;
    color: #333;

    display: block;
    margin: auto;

    margin-top: 2%;
}

.inapute {
    width: auto;
}

.chat {
    width: 1200px;
    height: 600px;

    border: 5px solid none;
    border-radius: 15px;

    display: block;
    margin: auto;
    margin-top: 7%;

    -webkit-overflow-scrolling: y;
}

.text-board {
    width: 700px;
    height: 600px;

    border: 5px solid white;
    border-radius: 10px;

    display: block;
    margin: auto;

    overflow: auto;
}

.inapute {
    width: 700px;
    height: 50px;

    border: 2px solid deeppink;
    border-radius: 5px;

    color: white;
    font-size:  24px;

    background-color: #333;

    display: block;
    margin: auto;
}

.send_btn {
    width: 100px;
    height: 25px;

    background-color: deeppink;

    display: block;
    margin: auto;
    margin-top: 2%;
}

.message {
    max-width: 50%;
    width: auto;
    height: auto;

    border: 2px solid white;
    border-radius: 10px;

    color: white;
    font-size: 18px;
    padding-left: 20px;
    
    margin-left: 40px;
    margin-top: 20px;

    display: flex;
    left: 0;

    z-index: 1;
}

.username {
    color: deeppink;
    font-size: 21px;
}